mat-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  padding-right: 0 !important;
  margin-right: 16px !important;
  background: none !important;
  color: #2196f3;
}

:host-context(.dark-mode) .mat-toolbar {
  color: #9e9e9e !important;
}

.flex-stretch {
  flex: 1 0 auto;
}

.content {
  min-height: 100vh;
}
